/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* This is for the non-prism'd code block */
pre {
    background: none;
}

/* This selector is from prismjs' css */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: none;
}

pre {
    border: none;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #428bca;
    border-radius: 0;
}
